<ion-content class="background">
  <ion-img style="width: 50%;margin:auto;margin-top: 10vh;margin-bottom:5vw" src="./assets/conectacode.png"></ion-img>
  <ion-text color="secondary">
    <h1 class="eree">
      ConectaCode 
    </h1>
    <p class="sfsd">Reloj laboral para registrar tu horario de entrada y salida</p>
  </ion-text>
  <ion-grid style="margin-top: 40px;width: 70%;">
    <p class="ion-text-center" style="color: #fff">Ya tenés una cuenta?</p>
    <ion-row>
      <ion-col>
        <ion-button class="kdjf" (click)="login()" mode="ios" size="large" shape="round" expand="block" color="dark">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="margin:20px auto 0px auto;width: max-content">
    <a href="https://conectacode.com.py" target="_blank" style="text-decoration: none;"><p style="font-size: 16px;color: #e1e1e1;" name="globe-outline">Visitar sitio web</p></a>
  </div>
  
</ion-content>
