<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu type="overlay" contentId="main-content">
      <ion-content>
      
        <div class="menu-header-bg">
          <div class="header-content">
            <img src="./assets/conectacode.png">
            <ion-label>
              <h2>Conectacode</h2>
              <p class="head-subtitle-center">Integrando Ideas</p>
            </ion-label>
          </div>
        </div>

        <ion-list id="inbox-list" class="menu-items" lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/home']">
              <ion-icon name="grid-outline"></ion-icon><ion-label>Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/main']">
              <ion-icon name="alarm-outline"></ion-icon><ion-label>Marcar Horario</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/reports']">
              <ion-icon name="calendar-outline"></ion-icon><ion-label>Mi Historial</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/qrcode']">
              <ion-icon name="qr-code-outline"></ion-icon><ion-label>QRcode</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/tabs/notifications']">
              <ion-icon name="notifications-outline"></ion-icon><ion-label>Avisos</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon><ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>